{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Hosts{% endblock %}</h1>
    {% for post in posts %}
    <a href="{{ url_for('edit', id=post['id']) }}">
        <p style="display: inline;">{{ post['title'] }} | {{ post['content'] }}</p>
    </a>
    <a  href="{{ url_for('edit', id=post['id']) }}">
        <span class="badge badge-warning">Editar</span>
    </a>
    <a  href="{{ url_for('configurar_id', id=post['id']) }}">
        <span class="badge badge-secondary">Configurar</span>
    </a>
    <hr>
    {% endfor %}
{% endblock %}